[Desktop Entry]
Type=Application
Name=Outlook Mail
Icon=google-chrome
Exec=/usr/bin/google-chrome-stable --app="https://outlook.office.com/mail/inbox"
